@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,200;1,300;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #929394, #fdfdfd);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 1px 1px 65px;
  border-radius: 10px;
  box-shadow: 5px 15px 15px #888;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;

  /* border-radius: 30px; */
  padding-left: 20px;
  min-height: 20px;
  border-bottom: 1px solid gray;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-style: italic;
}

button {
  border: none;
  outline: none;
  padding: 10px 10px;
  margin-right: 10px;
  color: #7e7b7b;
  border-radius: 26px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  align-items: center;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid grey;
  align-items: center;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 18px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

#close-btn {
  width: 100%;
  background-color: #555;
  margin-top: 20px;
  margin-bottom: -60px;
  border-radius: 15px;
}

#close-btn button {
  width: 100%;
  border-radius: 1px;
  background-color: #ebe8e8;
  font-style: italic;
  font-size: 20px;
  height: 50px;
}

.list-contact {
  display: flex;
  font-size: 15px;
  gap: 10px;
}

#list-container li span {
  /* background-image: url(images/recycle-bin.png); */
  color: #888;
  margin-left: 28rem;
  font-size: 29px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  margin-top: -2rem;
  position: absolute;
}

#list-container li span:hover {
  cursor: pointer;
}

.rotate-icon {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px;
  align-items: center;
}

.rotate-icon h2 {
  font-size: 15px;
  margin-left: 15px;
  color: #888;
}

hr {
  /* margin-bottom: 10px; */
  margin-top: 15px;
}

.fa-arrows-rotate {
  margin-right: 20px;
  color: #a8a6a6;
}

.closeListBtn {
  display: none;
}

.fa-edit {
  margin-left: 28rem;
  margin-bottom: 80px;
  color: #a8a6a6;
}
